div#content{

	section#apresentacao{
		padding:80px 0;
		p{
			margin:20px 0;
		}

		h3{
			margin-top: 20px;
		}
	}

	section#detalhes{
		padding:80px 0;	
		background-color:#fcfcfc;
		color: #868686;

		ul{
			list-style-type:none;
			margin-bottom: 20px;

			li{
				margin: 25px 0px;
			}
			li:before{
				content: "\2713 \00a0";
				font-weight:bold;
			}
		}

		div.atelie{
			margin-bottom:50px;
		}

		div.fotos-sobre{
			img{
				float:left;
				border:5px solid #e5e5e5;
				margin:5px;
			}
		}	
	}

	section#maps{
		.maps-title{
			padding:40px;
			text-align: left;
		}
	}

	section#sobre{
	    background-image: url("images/fundo-quemsomos.jpg");
	    background-repeat: no-repeat;
	    background-position: center;
	    padding:50px 0; 
		
		div.col-md-6{
			padding:0;
		}

		div.logo{
			background-color: #0b0b0f;
			padding:80px 50px;
		}
		div.desc{
			background-color:white;
			padding:80px 40px;
			color: #868686;
			min-height: 568px;
		}
	}

	section#depoimento{
		padding:50px 0;
	}

	section#agenda{
		article{
			padding:50px 0;
			border-bottom:2px solid white; 
		}
		div.paginacao{
			padding:50px;
		}

	}

	section#agenda-detalhes{
		padding-bottom:50px;
	}

	section#fotos{
		padding-bottom:80px;
	}

	section#redes-bot{
		background-color:white;
		padding:80px 0;	
		color: #868686;
	
		.redes_sociais_bot{
			margin-bottom: 5px;
			height:67px;
			text-align: left;
			list-style:none;
			margin: 0 auto;
			margin-top: 30px;
			width: 370px;
			padding:0;
		}
		.redes_sociais_bot li{
			margin:0 8px;
		}

		.redes_sociais_bot li:hover{
		    opacity: 0.6;
		    filter: alpha(opacity=60); /* For IE8 and earlier */
		}

		.redes_sociais_bot a{
			display: inline-block;
			width:67px;
			height:67px
		}

		.redes_sociais_bot .youtube{
			background-image: url("images/redes-sociais-bot.jpg");
			background-position: left,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .instagram{
			background-image: url("images/redes-sociais-bot.jpg");
			background-position: -86px,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .twitter{
			background-image: url("images/redes-sociais-bot.jpg");
			background-position: -173px,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .facebook{
			background-image: url("images/redes-sociais-bot.jpg");
			background-position: right,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}
	}

}
@media (max-width: 991px) { 

}

@media (min-width: 992px) {  
  
}
